.nav-bar {
    width: 345px;
    height: 806px;
    background-color: #fff;
    border-radius: 20px;
    .profile {
        position: relative;
        width: 345px;
        height: 246px;
        .background {
            width: 345px;
            height: 246px;
            border-radius: 20px 20px 0px 0px;
            background: linear-gradient(
                180deg,
                rgba(26, 22, 46, 0) 0%,
                #1a162e 100%
            );
            box-shadow: 0px 20px 60px 10px rgba(237, 237, 246, 0.2);
        }
        .avatar {
            position: absolute;
            top: 25%;
            left: 25%;
            cursor: pointer;
            img {
                margin-left: 35px;
                width: 116px;
                height: 116px;
                border-radius: 100%;
                border: 5px solid rgba(255, 255, 255, 0.2);
                background: lightgray -475.937px -52.524px / 819.939%
                    546.626%#dfd2fa;
                box-shadow: 0px 4px 14px 2px rgba(0, 0, 0, 0.08);
            }
            .name {
                overflow: hidden;
                text-overflow: ellipsis;
                text-align: center;
                margin-left: 20px;
                width: 150px;
                height: 26px;
                color: #fff;
                font-size: 18px;
                font-weight: 500;
                line-height: 26px;
            }
            .registered {
                color: #fafafd;
                text-align: center;
                font-size: 15px;
                font-weight: 500;
                line-height: 22px;
            }
        }
    }
    .account {
        width: 266px;
        height: 530px;
        margin: 30px 49px 0 30px;
        background-color: #fff;
        .manage-account,
        .my-items,
        .subscriptions-plans,
        .customer-service {
            display: flex;
            flex-direction: column;
        }
        .manage-account {
            width: 236px;
            height: 134px;
            background-color: #fff;
            h3 {
                color: #1a162e;
                font-size: 18px;
                font-weight: 700;
                line-height: 26px;
                margin-bottom: 16px;
            }
            .personal-info,
            .addresses,
            .communications {
                display: flex;
                background-color: #fff;
                img {
                    width: 24px;
                    height: 24px;
                }
                p {
                    margin-left: 10px;
                    color: #1a162e;
                    font-size: 15px;
                    font-weight: 400;
                    line-height: 22px;
                }
            }
            .personal-info {
                &:hover {
                    cursor: pointer;
                    text-decoration: underline;
                }
            }
            .addresses {
                margin: 10px 0;
                &:hover {
                    cursor: pointer;
                    text-decoration: underline;
                }
            }
        }
        .my-items {
            margin-top: 30px;
            width: 107px;
            height: 134px;
            background-color: #fff;
            h3 {
                color: #1a162e;
                font-size: 18px;
                font-weight: 700;
                line-height: 26px;
                margin-bottom: 16px;
            }
            .reorder,
            .lists,
            .registries {
                display: flex;
                background-color: #fff;
                img {
                    width: 24px;
                    height: 24px;
                }
                p {
                    margin-left: 10px;
                    color: #1a162e;
                    font-size: 15px;
                    font-weight: 400;
                    line-height: 22px; /* 146.667% */
                }
            }
            .lists {
                margin: 12px 0;
                &:hover {
                    cursor: pointer;
                    text-decoration: underline;
                }
            }
        }
        .subscriptions-plans {
            width: 195px;
            height: 66px;
            margin-top: 30px;
            background-color: #fff;
            h3 {
                margin-bottom: 16px;
                color: #1a162e;
                font-size: 18px;
                font-weight: 700;
                line-height: 26px;
            }
            .protection-plans {
                display: flex;
                background-color: #fff;
                img {
                    width: 24px;
                    height: 24px;
                }
                p {
                    margin-left: 10px;
                    color: #1a162e;
                    font-size: 15px;
                    font-weight: 400;
                    line-height: 22px;
                }
            }
        }
        .customer-service {
            margin-top: 30px;
            width: 162px;
            height: 106px;
            background-color: #fff;
            h3 {
                margin-bottom: 16px;
                color: #1a162e;
                font-size: 18px;
                font-weight: 700;
                line-height: 26px;
            }
            .log-out {
                display: flex;
                background-color: #fff;
                img {
                    width: 24px;
                    height: 24px;
                }
                p {
                    margin-left: 10px;
                    color: #1a162e;
                    font-size: 15px;
                    font-weight: 400;
                    line-height: 22px;
                    &:hover {
                        cursor: pointer;
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}
