form {
    .wrap-form {
        position: relative;
        width: 460px;
        height: 244px;
        input {
            display: inline-block;
            border-radius: 10px;
            border: 1px solid #d2d1d6;
            padding: 12px 170px 12px 12px;
            width: 100%;
            &:nth-child(2) {
                margin: 30px 0;
            }
        }

        .error-message {
            height: 30px;
            margin-left: 10px;
            color: #f94545;
            font-size: 15px;
            font-weight: 400;
            line-height: 22px;
        }
        ::placeholder {
            padding-left: 12px;
            color: #d2d1d6;
            font-family: Gordita;
            font-size: 18px;
            font-weight: 500;
            line-height: 26px;
        }
        .password {
            position: absolute;
            bottom: 139px;
            right: 9px;
            cursor: pointer;
            input {
                display: none;
            }
        }

        .confirm-password {
            position: absolute;
            bottom: 68px;
            right: 9px;
            cursor: pointer;
            input {
                display: none;
            }
        }
        .recovery {
            display: flex;
            justify-content: space-between;
            label {
                display: flex;
                color: #9e9da8;
                font-family: Gordita;
                font-size: 15px;
                font-weight: 500;
                line-height: 22px;

                input {
                    width: 24px;
                    height: 24px;
                    margin-right: 10px;
                }
            }
            button {
                color: #0071dc;
                font-family: Gordita;
                font-size: 15px;
                font-weight: 500;
                line-height: 22px;
                background-color: #fff;
                &:hover {
                    cursor: pointer;
                    opacity: 0.8;
                }
            }
        }
    }
    .button {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
        width: 460px;
        height: 50px;
        margin-top: 50px;
        padding: 12px 190px;
        border-radius: 10px;
        background: #ffb700;
        color: #1a162e;
        text-align: center;
        font-size: 18px;
        font-weight: 700;
        line-height: 26px;
        &:hover {
            cursor: pointer;
            opacity: 0.8;
        }
    }
}
.loginWithGG {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 460px;
    margin-top: 30px;
    padding: 12px 114px;
    border-radius: 10px;
    background-color: #fff;
    border: 1px solid #d2d1d6;
    &:hover {
        cursor: pointer;
        opacity: 0.8;
    }
    p {
        margin-left: 10px;
        color: #1a162e;
        font-feature-settings: "clig" off, "liga" off;
        font-family: Gordita;
        font-size: 18px;
        font-weight: 500;
        line-height: 26px;
    }
}
