.content-nav {
    width: 956px;
    height: 430px;
    padding: 30px;
    margin-left: 30px;
    border-radius: 20px;
    box-shadow: 0px 20px 60px 10px rgba(237, 237, 246, 0.2);
    background-color: #fff;
    .title {
        display: flex;
        h3 {
            margin-left: 10px;
            color: #1a162e;
            font-size: 22px;
            font-weight: 500;
            line-height: 32px;
        }
        img {
            &:hover {
                cursor: pointer;
            }
        }
    }
    .form {
        .wrap {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-top: 30px;
            width: 904px;
            height: 234px;
            .first-input,
            .second-input,
            .third-input,
            .fourth-input {
                width: 437px;
                height: 102px;
                h4 {
                    color: #1a162e;
                    font-size: 22px;
                    font-weight: 500;
                    line-height: 32px;
                }
                input {
                    margin-top: 20px;
                    width: 437px;
                    height: 50px;
                    padding: 12px 170px 12px 12px;
                    border-radius: 10px;
                    border: 1px solid #d2d1d6;
                }
            }
            .third-input,
            .fourth-input {
                margin-top: 30px;
            }
            .fourth-input {
                position: relative;
                img {
                    position: absolute;
                    bottom: 19px;
                    right: 11px;
                }
                input[type="checkbox"] {
                    display: none;
                    position: absolute;
                    bottom: 19px;
                    right: 11px;
                    width: 10px;
                    height: 10px;
                }
            }
            .save {
                margin: 30px 0 0 780px;
                width: 123px;
                height: 44px;
                padding: 10px 20px;
                border-radius: 30px;
                background: var(--primari-color);
                color: #1a162e;
                font-size: 16px;
                font-weight: 700;
                line-height: 24px;
                &:hover {
                    cursor: pointer;
                    opacity: 0.8;
                }
            }
        }
    }
    .cancel {
        margin: 40px 0 0 700px;
        color: #1a162e;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        background-color: #fff;
        &:hover {
            cursor: pointer;
            text-decoration: underline;
        }
    }
    .lists {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 20px;

        .list-products {
            width: 420px;
            height: 380px;
            img {
                width: 280px;
                height: 284px;
            }
            .name {
                color: #1a162e;
                font-size: 15px;
                font-weight: 500;
                line-height: 22px;
            }
            .price {
                display: flex;
                justify-content: space-between;
                margin-top: 20px;
                p {
                    color: #1a162e;
                    font-size: 22px;
                    font-weight: 500;
                    line-height: 32px;
                }
                button {
                    height: 42px;
                    margin-right: 40px;
                    padding: 10px 20px;
                    border-radius: 20px;
                    background: var(--primari-color);
                    color: #1a162e;
                    font-size: 15px;
                    font-weight: 700;
                    line-height: 22px;
                    &:hover {
                        cursor: pointer;
                        opacity: 0.8;
                    }
                }
            }
        }
    }
}
